body { 
  line-height: 30px; 
  font-family: Nunito, sans-serif;
}

.heading { 
  font-size: 60px; font-weight: bold;
  text-align: center;
  margin: 30px 0px;
  font-family: 'Amatic SC';
  line-height: 60px;
}
h2 { 
  text-align: center; 
}

.work-area {
  display: flex; flex-direction: row;
  justify-content: space-around;
}
.work-area > * { margin: 0px 15px; }

.instructions {
  max-width: 32ch;
  flex-grow: 2;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}

.canvas {
  width: 700px;
  /*padding: 20px;*/
}
#board { border: 1px solid #aaaaaa; }

.controls { 
  margin-top: 5px;
  display: flex; align-items: center; 
}
button#play { font-size: 20px; }
#seeker {
  margin-left: 5px;
  width: 100%; 
}

.examples {
  /*margin-top: 10px;*/
  padding: 15px; border-radius: 10px;
  background-color: #feffcc;
}
.examples img { max-height: 150px; max-width: 150px; }
.examples .tip { margin-bottom: 20px; }