body { 
  line-height: 30px; 
  font-family: Nunito, sans-serif;
}

.heading { 
  font-size: 60px; font-weight: bold;
  text-align: center;
  margin: 20px 0px;
  font-family: 'Amatic SC';
  line-height: 60px;
}
h2 { 
  text-align: center; 
}

.work-area {
  display: flex; flex-direction: row;
  justify-content: space-around;

  & > * { margin: 0px 15px; }
  .instructions {
    max-width: 32ch;
    flex-grow: 2;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
  }

  .canvas-column {
    .canvas {
      width: 700px;
      padding-left: 10px; padding-right: 10px;
      padding-bottom: 20px;
      border: 1px solid black;
      border-radius: 10px;

      .controls {
        margin-top: 5px;
        display: flex; align-items: center; 
      }
      .buttons { margin-top: 20px; }
    }
    #exported { margin-top: 5px; }
  }

  .examples {
    /*padding-top: 10px;*/
    padding: 15px; border-radius: 10px;
  }
}

#board { 
  border: 1px solid #aaaaaa; 
  background-color: #eeeeee;
}

.controls { 
  button#play { font-size: 20px; }
  #seeker {
    margin-left: 5px;
    width: 100%; 
  }
}
.buttons { //FIXME: flexbox for something that easy?!
  display: flex; align-items: center;
  flex-direction: column;
}
#exported img {
  margin: 0px auto;
  max-width: 100%;
  display: block; 
  box-shadow: 0px 3px 5px rgba(black, 0.5);
}

.examples {
  background-color: #feffcc;

  .tip { margin-bottom: 20px; }
  img { max-height: 150px; max-width: 150px; }
  .artwork-link { 
    font-size: smaller; text-align: center;
  }
}

@import "buttons";